<h1>ここはユーザのマイページです</h1>
<p>あなたのユーザ名は<%= @user_name %>です</p>
<p>あなたの所属してるグループは</p>
<!-- 所属しているグループ名の一覧を表示 -->
<ol>
  <% @belong_group_name.each do |gname| %>
  <li>
    <%= link_to "#{gname.group_name}","/user/show/#{@user_id}/#{gname.id}" %>
    <!-- ここにグループに所属してるメンバーを全て表示する -->
  </li>
  <% end %>
</ol>
