<h1>メンバー選択</h1>
<p>メンバーを下の中から選んでください</p>
<ol>
  <% @users.each do |user| %>
  <li>
    <%= user.name + ":" + user.hobby1 + "," + user.hobby2 + "," + user.hobby3 %>
  </li>
  <% end %>
</ol>
<select name="example"required>
  <option value="">ユーザを選択してください</option>
  <% @users.each do |user| %>
    <option value="<% user.id %>"><%= user.name %></option>
  <% end %>
</select>
