<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">グループログイン</h1>
        <p class="lead mb-5 text-white-50">グループ内で趣味を共有しましょう</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
<p>所属するグループの名前を入力してください</p>
<%= form_tag("/group/search") do %>
  <p><strong>グループ名</strong>
  <input name="group_name" value="<%= @group_name %>" id="aaa" class="form-control" required>
  </p>
  <input type="submit" value="グループに入る" class="btn btn-primary btn-bg">
  <button type="button" onclick="clearFormAll();" class="btn btn-primary btn-bg">リセット</button>
<% end %>

<% if @login_group_names %>
  <hr>
  <p>以下のグループにログインしています</p>
  <ul>
    <% @login_group_names.each do |group| %>
      <li>
        <%= group %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
