<script>
function clearFormAll() {
  for (var i=0; i<document.forms.length; ++i) {
      clearForm(document.forms[i]);
  }
}
function clearForm(form) {
  for(var i=0; i<form.elements.length; ++i) {
      clearElement(form.elements[i]);
  }
}
function clearElement(element) {
  switch(element.type) {
      case "hidden":
      case "submit":
      case "reset":
      case "button":
      case "image":
          return;
      case "file":
          return;
      case "text":
      case "password":
      case "textarea":
          element.value = "";
          return;
      case "checkbox":
      case "radio":
          element.checked = false;
          return;
      case "select-one":
      case "select-multiple":
          element.selectedIndex = 0;
          return;
      default:
  }
}
</script>

<h1>グループログインページ</h1>
<hr>
<li>参加したいグループがある場合はグループメンバーからそのグループ名を教えてもらい、そのグループの名前を入力してください。</li>
<li>すでに参加しているグループが存在する場合はそのグループの名前を入力してください</li>
<%= form_tag("/group/search") do %>
  <p><strong>グループ名</strong>
  <input name="group_name" value="<%= @group_name %>" id="aaa" required>
  </p>
  <input type="submit" value="グループに入る">
  <button type="button" onclick="clearFormAll();">リセット</button>
<% end %>
