<h1>新規グループ作成ページ</h1>
<%= form_tag("/group/new") do %>
  <h3>グループ名</h3>
  <input name="group_name">
  <!--<h3>人数</h3>
    <input type="number" min="1" max="100" name="number_of_menber" required> -->
  <input type="hidden" name="number_of_menber" value="1">
  <h3>作成者のユーザー名</h3>
  <input name="user_name">
  <br>
  <p></p><!--表示をよくするための空行-->
  <input type="submit" value="グループ作成">
  <input type="reset" value="入力内容をリセットする">
<% end %>
<hr>
<p>新規に作成するグループの名前とグループ作成者（あなた）に設定するユーザー名を入力してください。</p>
