<h1>新規グループ作成ページ</h1>
<p>新しく作るグループの情報を入力しましょう！</p>
<hr>
<p>まずは作成するグループの名前を入力してください。</p>
<%= form_tag("/group/new") do %>
  <p><strong>グループ名</strong>
  <input name="group_name" value="<%= @group_name %>" required>
  </p>
  <input type="submit" value="グループを作成">
<% end %>
