<body>
  <center>
    <%= image_tag qrcode_tag @url%><br>
    <button class="btn btn-secondary btn-sm" type="submit" value="削除" onclick='window.close()'>
      タブを閉じる
    </button>
  </center>
</body>
