<h1>Hobbyshareへようこそ！</h1>
<h3>Hobbyshareとは？</h3>
<p>Hobbyshareは<strong>身近な人</strong>の中から、あなたと<strong>同じ趣味</strong>を持つ人とだけ趣味を共有することができるウェブアプリです。</p>
<hr>
<h3>アカウントを作成する</h3>
<p>自分のアカウントを作成したい場合はこちら。</p>
<button type="button"onclick="location.href='/account/sign_up'"style="width:200px; height:28px;">アカウントを作成</button>

<h3>グループを作成する</h3>
<p>友達・仕事仲間・入学（入社）する仲間を募って新しいグループを作りましょう。<br>
代表者1名が『新しいグループを作成』から趣味を共有したいグループを作ってください。<br>
その際、仲間と一緒にグループの名前と自分のニックネームを決めておいてください。</p>
<button type="button"onclick="location.href='group/make'"style="width:200px; height:28px;">グループ作成</button>

<hr>
<h3>既存のグループに入る</h3>
<li>参加したいグループがある場合はグループメンバーからそのグループ名を教えてもらい、そのグループの名前を入力してください。</li>
<button type="button"onclick="location.href='group/enter'"style="width:200px; height:28px;">グループログイン</button>
