<!-- Header -->
<header class="bg-primary py-1 mb-3">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-4 mb-4">Hobbyshareへようこそ</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container main">
  <div class="row">
    <div class="col-md-8 mb-5">
      <div class="top">
        <h4>Hobbyshareって？</h4>
        <%= image_tag 'group_young_people.png', :size =>'267x212'%>
        <p><strong>身近な人</strong>の中から、あなたと<strong>同じ趣味</strong>を持つ人とだけ趣味を共有することができるウェブアプリです。</p>
        <p>早速知り合い同士で集まり、グループを作って同じ趣味を持つ人を見つけましょう！</p>
        <div class="mx-auto">
          <button class="btn btn-primary w-100_h-60px " type="button" onclick="location.href='group/make'"><font size="5">グループ作成</font></button>
        </div>
      </div>
    </div>
  </div>

</div>
