<h1>ログインページ</h1>
<hr>
<%= form_tag("/account/login_process") do %>
  <p><strong>ユーザー名</strong>
  <input name="name" value="<%=@account_name%>" required>
  </p>

  </p>
  <p><strong>パスワード</strong>
  <input type="password" name="password" required>
  </p>

  <input type="submit" value="ログイン">
  <button type="button" onclick="clearFormAll();">リセット</button>
<% end %>
