<h1>新規アカウント作成ページ</h1>
<p>アカウントを作成することで、ユーザー情報を永続的に残すことができます</p>
<hr>
<p>まずは作成するユーザーの名前を入力してください。</p>
<%= form_tag("/account/new_account") do %>
  <p><strong>ユーザー名</strong>
  <input name="name" value="<%= @account_name %>" required>
  </p>

  <p>あなたのパスワードを入力してください。<br>
  </p>
  <p><strong>パスワード</strong>
  <input type="password" name="password" required>
  </p>

  <p>入力内容に間違いがなければユーザー作成を選択してください。</p>
  <input type="submit" value="この内容でユーザーを作成">
  <button type="button" onclick="clearFormAll();">リセット</button>
<% end %>
