// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body { padding-top: 56px; }

.btn{
  margin-right: 10px;
}

.form-control{
  margin-bottom: 10px;
}

.alert-warning {
  margin: 0px;
  padding: 5px 20px;
}

.table-noborder {
  border-top: 0px !important;
  border-bottom: 0px !important;
}
