body {
  background: #fff8dc;
}

h1 {
  color: #1e90ff;
}

header {
  border-bottom: dotted 2px #f89174;
  text-align: center;
  font-size: 30px;
  background-color: #edd18e;
  margin: 0px;
}

header a {
  text-decoration: none;
  color: #1e90ff;
}
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
